<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657431779818-gir9onpv64mp7msb3h3hu6832814b359.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657431779818-gir9onpv64mp7msb3h3hu6832814b359</string>
	<key>API_KEY</key>
	<string>AIzaSyCEFlllsAKyv9iSZj4TCzC83A_75DNp6pI</string>
	<key>GCM_SENDER_ID</key>
	<string>657431779818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatStack</string>
	<key>PROJECT_ID</key>
	<string>chat-stack-792bb</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-stack-792bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657431779818:ios:bf5b9f50a9e6ef890dfa93</string>
</dict>
</plist>